name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
    - name: Check out the repository
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.7.19"
        python-version: ${{ matrix.python-version }}
    - name: Install the project
      run: uv sync --locked --all-extras --dev --group dev
    - name: Test with pytest
      run: uv run pytest tests/

  linters:
    name: Linters
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
    - name: Check out the repository
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.7.19"
        python-version: ${{ matrix.python-version }}
    - name: Install the project
      run: uv sync --locked --all-extras --dev --group dev
    - name: Lint with ruff
      if: ${{ success() }}
      run: uv run ruff check
    - name: Lint with mypy
      if: ${{ success() || failure() }}
      run: uv run mypy --non-interactive -p dral
